.places {
  &.loading {
    background: #cccccc;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    >* {
      visibility: hidden;
    }

    &:before {
      content: "loading...";
    }
  }

  >table {
    th.pk,
    th.updated {
      width: 0;
    }

    th.actions {
      width: 1em;
    }

    td.updated>button {
      width: 100%;

      &.fetching {
        opacity: 0.5;
      }

      &.error {
        color: red;
      }
    }
  }

}

.buttons {
  margin: 3px;
  display: flex;

  >* {
    flex: 1;
  }
}
