.filters {
  display: flex;
}

.posts {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px;
  height: 0;

  &.loading {
    background: #cccccc;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    >* {
      visibility: none;
    }

    &:before {
      content: "loading...";
    }
  }

  >* {
    width: 240px;
    padding: 0;
    flex-grow: 0;
    margin-bottom: 1em;

    >.title {
      display: flex;
      background: #ccc;
      border-bottom: 1px solid gray;

      >.name {
        padding: 2px;
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border-right: 1px solid gray;
        line-height: 20px;
        height: 20px;
        text-decoration: none;
        color: black;
      }

      >button {
        border: 0;
      }
    }

    >.buttons {
      display: flex;
      flex-wrap: wrap;

      >button {
        flex: 1;
      }
    }

    button.pressed {
      background: gray;
    }

    img {
      width: 240px;
    }
  }
}
