table {
  th {
    background: #ccc;
    border: 1px solid gray;
    padding: 2px;
  }

  tr:nth-child(2n) {
    background: #ccc;
  }  

  td {
    &.align-center {
      text-align: center;
    }

    &.align-right {
      text-align: right;
    }
  }
}
